*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #E5E5E5;
    font-family: "Quicksand", sans-serif;
}

html, body{
    font-size: 10px;
    height: 100%;
    background: var(--bg);
}

a{
    text-decoration: none;
    color: inherit;
}

img{
    max-width: 100%;
    height: auto;
}

header{
    padding: 1.6rem;
    z-index: 1;
}

main{
    display: flex;
    margin: 5px;
    justify-content: space-between;
    width: 95%;
}

.botones{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.6rem;
}

.btnUno{
    background-color: var(--dark-blue-400);
    border-radius: 1.5rem;
    border: none;
    color: var(--white);
    width: 200px;
    cursor: pointer;
    font-size: 1.6rem;
    height: 5rem;
}

.btnUno:hover{
    background-color: darkblue;
}

.btnDos{
    background-color: var(--bg);
    border-radius: 1.2rem;
    border: 0.1rem solid darkblue;
    color: rgba(0, 0, 139, 0.76);
    width: 200px;
    cursor: pointer;
    font-size: 1.6rem;
    height: 5rem;
}

.btnDos:hover{
    background-color: rgba(191, 225, 236, 0.522);
}

.btnTres{
    background-color: var(--dark-blue-400);
    border-radius: 1.5rem;
    border: 0.1rem;
    color: var(--white);
    width: 200px;
    cursor: pointer;
    font-size: 1.6rem;
    height: 5rem;
}

.btnTres:hover{
    background-color: darkblue;
}

.text-area{
    width: 500px;
    height: 250px;
    border: 0.1rem solid darkblue;;
    border-radius: 5px;
}

.tarjeta2{
    height: 100%;
    width: 30%;
    overflow: auto;
    justify-content: space-between;
}

.mensaje{
    border: none;
    outline: none;
    background-image: url("./img/Muñeco@2x.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 10px;
    width: 100%;
    height: 100%;
    font-size: 18px;
    line-height: 1.5;
    color: #333;
}

::-webkit-scrollbar {
    width: 0.2em;
    background-color: transparent;
  }